@media only screen and (max-width: 850px){
    .css-14mi971-MuiButtonBase-root{
        height: 50vh !important;
    }
    }
    .css-14mi971-MuiButtonBase-root{
        height: 50vh !important;
    }